 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Satoshi Nakamoto</h2>
      <img alt="satoshi" src="{{ "/assets/img/satoshi.jpg" | prepend: site.baseurl }}" width="300px"/>
      <p>Satoshi Nakamoto mined the very first bitcoin. Which was fitting, given that Satoshi is to Bitcoin as Alexander Graham Bell was to the telephone. The inventor had revealed the creation to a tiny online community of cryptography-obsessed computer scientists and hackers two months earlier.</p>
    </div>
    <div class="tech">
      <h2>Tom Elvis Jedusor</h2>
      <img alt="jedusor" src="{{ "/assets/img/jedusor.jpg" | prepend: site.baseurl }}" width="300px"/>
      <!-- <i class="devicon-react-original-wordmark colored"></i> -->
      <p>In Aug. 2016, Someone called Tom Elvis Jedusor (Voldemort's French name in J.K. Rowling's Harry Potter book series) placed the original MimbleWimble white paper on a bitcoin research channel, and then disappeared. Tom's white paper "Mimblewimble" (a tongue-tying curse used in "The Deathly Hallows") was a blockchain proposal that could theoretically increase privacy, scalability and fungibility.</p>
    </div>
    <div class="tech">
      <h2>Banksy<br/><br/></h2>
      <img alt="Banksy" src="{{ "/assets/img/banksy.jpg" | prepend: site.baseurl }}" width="300px"/>
      <p>Banksy is a pseudonymous England-based street artist, political activist and film director whose real name and identity remain unconfirmed and the subject of speculation.[2] Active since the 1990s, his satirical street art and subversive epigrams combine dark humour with graffiti executed in a distinctive stenciling technique.</p>
    </div>
</div>
